@import "component/form.css";
@import "list.css";
body {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.geo-info {
  position: absolute;
  top: 0;
  left: 5px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  font-weight: bold;
}
.greeting,
.say-hello,
.ask-todo-list {
  display: none;
}

.showing {
  display: block;
}
.js-title {
  font-size: 100px;
  color: white;
}
.say-hello {
  padding: 10px 5px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.ask-todo-list,
.js-greeting {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.backgroundimage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 1.5s ease-in-out;
}
