@import "component/form.css";
@import "component/list.css";
@import "component/cel-icon.css";
@import "component/weather_info.css";
@import "component/background_image.css";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s linear;
}

.greeting,
.say-hello,
.ask-todo-list {
  display: none;
}

.showing {
  display: block;
}
.js-title {
  font-size: 100px;
  color: white;
  animation: fadeIn 3s linear;
}
.say-hello {
  padding: 10px 5px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.ask-todo-list,
.js-greeting {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
  color: white;
}
.column {
  animation: fadeIn 3.5s linear;
}
.image_link {
  font-size: 3px;
  color: white;
}
